*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
  margin: 0;
}

.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  background-color: white;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #e1e1e1;
  border: none;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
    display: none;
  }
}

.titlebar .ql-container {
  background-color: #e1e1e1;
  font-size: 20px;
  font-weight: 550;
  display: flex;
  justify-content: left;
  min-width: 100px;
  height: 50px;
  
}

.suggestion {
  z-index: 1;
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 3.2in;
  min-height: 1in;
  background-color: rgba(96, 79, 178, 0.648);
  border: rgb(84, 66, 175);
  border-radius: 10px;
  inline-size: 3.1in;
  padding: 10px;
  overflow-wrap: break-word;
}

.sug-input {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 215px;
  border-radius: 25%;
  height: 30px;
  font-size: 12px;


}