*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
  margin: 0;
}

.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  background-color: white;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #e1e1e1;
  border: none;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
  border-radius: 0px 0px 16px 16px;
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
    display: none;
  }
}

.titlebar .ql-container {
  background-color: #e1e1e1;
  font-size: 20px;
  font-weight: 550;
  display: flex;
  justify-content: left;
  min-width: 100px;
  height: 50px;
  
}

.titlebar {
  z-index: 2;
}

.suggestion {
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 3.2in;
  min-height: 35px;
  background-color: #9cbfff;
  border: #076eff;
  border-width: 2px;
  border-radius: 16px;
  inline-size: 3.1in;
  padding: 10px;
  overflow-wrap: break-word;
  font-size: 15px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  
}

.suggest-button {
  z-index: 2;
  position: fixed;
  right: 150px;
  bottom: 25px;
  background-color: #9cbfff;
  border: #076eff;
  border-width: 2px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 20px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.suggest-button:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.suggest-button:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.close-suggest {
  position: fixed;
  z-index: 2;
  right: 30px;
  bottom: 15px;
  border-radius: 3px;
  font-size: 12px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.close-suggest:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.close-suggest:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.sug-input {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  right: 235px;
  border-radius: 25%;
  height: 30px;
  font-size: 12px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.comment-box {
  position: absolute;
  z-index: 1;
  width: 3.3in;
  min-height: 1in;
  right: 15px;
  top:180px;
}

.comment-button {
  z-index: 3;
  position: absolute;
  right: 165px;
  top:130px;
  background-color: #9cbfff;
  border: #076eff;
  border-width: 2px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 20px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.loading {
  z-index: 3;
  position: absolute;
  right: 125px;
  top:132px;
}
.comment-button:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.comment-button:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.comment {
  background-color: rgb(210, 207, 214);
  border: rgb(169, 169, 173);
  border-width: 2px;
  border-radius: 16px;
  min-width: 3.2in;
  padding: 15px;
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
}

.comment:hover {
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.spacer {
  min-height: 5px;
}

.focus-list {
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  background-color: #e1e1e1;
  padding-left: 10px;
}

.focus-item {
  text-align:center;
  border-radius: 16px;
  margin-right: 5px;
  padding: 6px;
  font-size: 13px;
  background-color: rgb(210, 207, 214);
  border: rgb(169, 169, 173);
  border-width: 2px;
  border-radius: 16px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.focus-item-on {
  text-align:center;
  border-radius: 16px;
  margin-right: 5px;
  padding: 6px;
  font-size: 13px;
  background-color: #9cbfff;
  border: rgb(169, 169, 173);
  border-width: 2px;
  border-radius: 16px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.divider {
  border-left:2px solid #9cbfff; 
  border-right:1px solid #9cbfff; 
  border-radius: 2px;
  margin-right: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.publish {
  z-index: 5;
  position: absolute;
  right: 40px;
  top:10px;
  background-color: #9cbfff;
  border: #076eff;
  border-width: 2px;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 20px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.publish:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.publish:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.update {
  z-index: 5;
  position: absolute;
  right: 160px;
  top:10px;
  background-color: #9cbfff;
  border: #076eff;
  border-width: 2px;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 20px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.update:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.update:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

@keyframes ldio-x2uulkbinbj {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-x2uulkbinbj div { box-sizing: border-box!important }
.ldio-x2uulkbinbj > div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #7031d3 transparent #7031d3 transparent;
  animation: ldio-x2uulkbinbj 2.941176470588235s linear infinite;
}

.ldio-x2uulkbinbj > div:nth-child(2), .ldio-x2uulkbinbj > div:nth-child(4) {
  width: 54px;
  height: 54px;
  top: 23px;
  left: 23px;
  animation: ldio-x2uulkbinbj 2.941176470588235s linear infinite reverse;
}
.ldio-x2uulkbinbj > div:nth-child(2) {
  border-color: transparent #6277ec transparent #6277ec
}
.ldio-x2uulkbinbj > div:nth-child(3) { border-color: transparent }
.ldio-x2uulkbinbj > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-x2uulkbinbj > div:nth-child(3) div:before, .ldio-x2uulkbinbj > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 24px;
  background: #7031d3;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #7031d3;
}
.ldio-x2uulkbinbj > div:nth-child(3) div:after {
  left: -8px;
  top: 24px;
  box-shadow: 64px 0 0 0 #7031d3;
}

.ldio-x2uulkbinbj > div:nth-child(4) { border-color: transparent; }
.ldio-x2uulkbinbj > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-x2uulkbinbj > div:nth-child(4) div:before, .ldio-x2uulkbinbj > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 15px;
  background: #6277ec;
  border-radius: 50%;
  box-shadow: 0 46px 0 0 #6277ec;
}
.ldio-x2uulkbinbj > div:nth-child(4) div:after {
  left: -8px;
  top: 15px;
  box-shadow: 46px 0 0 0 #6277ec;
}
.loadingio-spinner-double-ring-nq4q5u6dq7r {
  width: 38px;
  height: 38px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.38);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-x2uulkbinbj div { box-sizing: content-box; }

.add-focus {
  text-align:center;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 21px;
  color: rgb(105, 105, 110);
  text-align: center;
  width: 28px;
  background-color: rgb(210, 207, 214);
  border: rgb(169, 169, 173);
  border-width: 2px;
  border-radius: 16px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}