@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* NAV BAR */
@media screen and (min-width: 780px) {
    .btn {
        @apply block text-center object-scale-down p-2 bg-white text-gray-800 my-2 w-32 rounded;
        transition: box-shadow opacity 0.3s ease;
    }
    .btn:hover {
        @apply bg-gray-100;
        box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, 0.2);
        opacity: 90%;
    }
    .navbar {
        @apply bg-white text-gray-800 p-2 w-dvw h-fit shadow-sm text-end;
        transition: transform 300ms ease-in;
    }
    .isHidden {}   
    .navbar__items{
        @apply flex flex-row justify-end;
    }
    .collapse {display: none; height: 0;}
    main {display: block;}
    .home {@apply px-16 py-8 flex flex-col;}
}

/* @media screen and (max-width: 779px) {
    .btn {
        @apply block text-start text-xl object-scale-down p-2 bg-gray-800 text-white m-2 w-32 rounded;
        transition: box-shadow opacity 0.3s ease;
    }
    .btn:hover {
        @apply bg-gray-800;
        box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
        opacity: 80%;
    }
    .navbar {
        @apply bg-gray-800 text-white p-2 w-fit h-auto rounded-br-lg;
        transition: transform 300ms ease-in;
    }
    .isHidden {
        transform: translateX(-12rem);
        transition: transform 300ms ease-out;
        width: 0;
    }   
    .navbar__items{
        margin-top: 1.75rem;
        @apply flex flex-col space-y-8;
    }
    .collapse {@apply inline-block float-right p-2 mt-0;}
    .home {}
    main {display: flex; flex-direction: row;}
} */

.form {display: flex; flex-direction: column; align-items: start; text-align: center; width:min-content; @apply mx-2}
.pill {@apply bg-gray-100 text-gray-600 rounded px-2 py-1; font-weight: 600; transition: font-weight background-color ease 0.3s;}
.pill:hover {cursor: pointer; @apply bg-gray-200}
.row {@apply flex flex-row; width: 100%;}
.col {@apply flex flex-col;}
.hoverable {transition: opacity 0.3s ease;}
.hoverable:hover {cursor: pointer; opacity: 70%;}
.column {@apply text-center text-wrap;}
.modal {@apply fixed inset-0 w-full h-screen flex items-start justify-start py-8 text-gray-200; background-color: rgba(0, 0, 0, 0.75); margin-left: 0!important; margin-right: 0!important;}
.modal-content {@apply mt-14;}
.close-modal {font-size: 18pt; font-weight: 600; transition: opacity 0.3s ease; padding-left: 4rem;}
.close-modal:hover {cursor: pointer; opacity: 75%;}
.save-btn {
  @apply w-fit p-2 bg-gray-800 text-white rounded; transition: box-shadow opacity 0.3s ease;
  .saved {
    @apply bg-gray-500;
  }
}
.save-btn.saved {
  @apply w-fit p-2 bg-gray-800 text-white rounded; transition: box-shadow opacity 0.3s ease;
  opacity: 70%;
}
.wrapper-center {@apply flex flex-col items-center;}
.wrapper-start {@apply flex flex-col items-start;}
.tpw {width:100%; text-wrap: wrap; float: left;}

.title {font-size: 40pt; font-weight: bold; @apply mb-0;}
.subtitle {font-size: 32pt; font-weight: 400; @apply mb-0;}
.trash-icon {
    position: relative;
    top: 0;
    right: 0;
    opacity: 0%;
}
.trash-icon:hover {
    opacity: 70%;
    cursor: pointer;
}
.linkedin-icon {
  width: 36px;
  aspect-ratio: 1.2/1;
  filter: grayscale(1) brightness(0.3);
}
.link-icon {
  width: 36px;
  aspect-ratio: 1/1;
  filter: grayscale(1) brightness(0.3);
}
.fixed-text-container {width: 100%; height: min-content;}
.tpw--subtitle {font-size: 24pt; @apply mt-0 mb-0 text-gray-700;}
.tpw--paragraph {font-size: 20pt; @apply mt-0 font-light text-gray-700;}
.html {
    font-family: Arial, Helvetica, sans-serif
}
.three-col {@apply text-center mt-10 bg-gray-100 p-8 rounded;}
.three-col > .column {width: 33.33%;}
.three-col--callout {font-size: 24pt; @apply text-start mt-1 text-gray-700; font-weight: 500;}
.three-col--desc {font-size: 16pt; @apply text-start mt-1 text-gray-700; font-weight: 400;}
.login-view {@apply flex flex-col items-center justify-center mt-32;}
.login-view--title {
    font-size: 14pt; 
    @apply text-gray-800; 
    font-weight: 500;
}
.login-view--subtitle {
    font-size: 14pt; 
    @apply text-gray-500; 
    font-weight: 500;
}
.login--input {font-size: 10pt; @apply w-64 p-2 rounded border border-gray-300;}
.login--label {font-size: 12pt; @apply mt-2 text-gray-800; font-weight: 300;}
.login--btn-container {@apply mt-4 w-full; display: flex; flex-direction: row; justify-content: start; align-content: center}
.login--btn {@apply bg-gray-800 text-white p-1 w-64 rounded; font-size: 12pt; transition: box-shadow opacity 0.4s ease;}
.login--btn:hover {@apply bg-gray-800; box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.2); opacity: 90%;}
three-col.svg {@apply text-gray-800;}

.ann-block {
    @apply bg-gray-100 p-4 flex;
    width: 14rem;
    height:14rem;
    justify-content: center;
    align-items: center;
    transition: box-shadow opacity 0.3s ease;
}

.ann-block > h1 {
    @apply text-gray-700 text-center;
    font-size: 20pt;
    font-weight: 500;
}

.ann-block:hover {
    @apply bg-gray-100;
    opacity: 80%;
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.notebook-thumbnail {
    @apply bg-gray-100 p-4;
    width: 14rem;
    aspect-ratio: 1/1;
    transition: box-shadow opacity 0.3s ease;
}

.inspo-thumbnail {
  @apply bg-gray-100 p-4;
  width: 16rem;
  aspect-ratio: 8/11;
  transition: box-shadow opacity 0.3s ease;
}

.inspo-thumbnail:hover {
  @apply bg-gray-100;
  opacity: 80%;
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  .trash-icon {
      opacity: 100%;
  }
}

.notebook-thumbnail--flex {
    @apply flex flex-col;
    justify-content: end;
    align-items: center;
    height: 90%;
}
.inspo-thumbnail--flex {
  @apply flex flex-col;
  justify-content: end;
  align-items: center;
  height: min-content;
}

.notebook-thumbnail--title {
    @apply text-gray-700 text-center;
    font-size: 14pt;
    font-weight: 500;
}

.notebook-thumbnail:hover {
    @apply bg-gray-100;
    opacity: 80%;
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    .trash-icon {
        opacity: 100%;
    }
}

.notebook-logo {display: flex; flex-direction: column; align-items: start; text-align: center; width:min-content; @apply mx-2}

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }
  
  .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
  }
  
  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
  }
  
  .comment {
    @apply rounded-md;
  }

  .ql-toolbar{
    display: flex;
    justify-content: center;
    border: none !important;
  }

  .ql-editor {
    
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;
  }

  .prof-username {font-size: 18pt;}
  .prof-tagline { font-size: 14pt;}
  .prof-focus-removable {@apply bg-gray-100 text-gray-600 rounded px-2 py-1; transition: font-weight background-color ease 0.3s;}
  .prof-focus-removable:hover {font-weight: 400; cursor: pointer; @apply bg-rose-100}
  .prof-focus-add {@apply bg-gray-100 text-gray-600 rounded px-2 py-1; transition: font-weight background-color ease 0.3s;}
  .prof-focus-add:hover {font-weight: 400; cursor: pointer; @apply bg-blue-100}
  .prof-focus-included {@apply bg-blue-950 text-gray-100 rounded px-2 py-1; transition: font-weight background-color ease 0.3s;}
  .prof-focus-included:hover {font-weight: 400; cursor: pointer; @apply bg-gray-700} 
  .prof-add {@apply bg-gray-600 text-gray-100 rounded px-2 py-1; transition: font-weight background-color ease 0.3s;}
  .prof-add:hover {font-weight: 400; cursor: pointer; @apply bg-gray-700} 
  .prof-img {@apply bg-gray-200 rounded; width: 14rem; aspect-ratio: 1/1;}
  .prof-img:hover {@apply bg-gray-300; opacity: 80%; box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.2); cursor: pointer;}

  .inspo-input {@apply rounded bg-gray-200;}
  input[type="text"].inspo-input {width: 50%; padding: 0.5rem; margin: 0.5rem; padding: 0.1rem !important;}
